.idea/
result*
.direnv/
.ruff_cache/
__pycache__/
.vscode/
.env
*.wav
venv/
riva_quickstart_*

# Ignore any local models.
models/

# Ignore CProfile outputs
*.prof

# Ignore test coverage files
.coverage
test_report.xml
coverage_report.xml

# Ignore generated output
output/

# Ignore docs
docs/build/
